<footer class="text-center border-top border-dark">
    <div class="row justify-content-center mt-3">
        <!--Linkedin -->
        <a class="li-ic text-dark" href="http://linkedin.com/in/aberriault">
        <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x"> </i>
        </a>
            
        <!-- Github -->
        <a class="fb-ic text-dark" href="http://github.com/aberriault">
            <i class="fab fa-github fa-lg mr-md-5 mr-3 fa-2x"> </i>
            </a>

        <!--Instagram-->
        <a class="ins-ic text-dark" href="http://instagram.com/aberriault">
        <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
        </a>

        <!-- Twitter -->
        <a class="tw-ic text-dark" href="http://twitter.com/aberriault">
        <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
        </a>
    </div>

    <div class="row justify-content-center py-2">
    <!-- Copyright -->
        <small><a href="https://berriault.com" class="text-dark">Andrew Berriault © 2019-2020</a></small>
    <!-- Copyright -->
    </div>
</footer>
