<nav>
    <a href="/" class="text-light float-left"><h1 class="">Andrew K Berriault</h1></a>
    <ul  class="nav justify-content-end text-primary" style="font-size: 2em;">
        <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://github.com/aberriault">Projects</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="mailto:berriaak@mcmaster.ca">Contact</a>
        </li>
    </ul>
    <hr class="border-dark-muted">
</nav>