<nav class="d-flex justify-content-around align-items-center border-bottom border-dark py-2">
    <a href="/" class="text-primary float-left" style="text-decoration: none;"><h1 class="">Andrew Berriault</h1></a>
    <ul  class="nav align-items-middle">
        <li class="nav-item">
        <a class="nav-link text-dark" href="/about">Resume</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" href="https://github.com/aberriault">Projects</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" href="mailto:berriaak@mcmaster.ca">Contact</a>
        </li>
    </ul>
</nav>