<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom border-primary mb-4">
    
    <a class="navbar-brand text-primary" href="/">Andrew Berriault</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link text-dark" href="/resume">Resume</a>
            <a class="nav-item nav-link text-dark" href="https://github.com/aberriault">Projects</a>
            <a class="nav-item nav-link text-dark" href="{{ site.posts[0].url }}">Posts</a>

        </div>
    </div>
</nav>