// Custom.scss
// Option A: Include all of Bootstrap

$theme-colors: (
  "primary": #960209,
  "secondary": #005766,
  "success": #009920,
  "info": #169F93 ,
  "warning": #E65C00 ,
  "danger": #FF4529 ,
  "light": #FAFAFA ,
  "neutral": #919191 ,
  "dark": #333333,
);

// Your variable overrides
$font-family-base:            'Raleway', sans-serif;
$font-weight-light:           100 ;
$font-weight-normal:          200 ;

$headings-font-family:        'Montserrat', sans-serif;

$enable-gradients: true;

@import "../bootstrap-4.3.1/assets/stylesheets/bootstrap";
