<!DOCTYPE html>
<html>

	{% include head.html %}
	
	<body>
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
		<!--Import jQuery before materialize.js-->
      		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     		<script type="text/javascript" src="js/materialize.min.js"></script>
		
		{% include header.html %}
		
		<div class="container">
    		
		{{ content }}
			
		</div><!-- /.container -->
		
		{% include footer.html %}
	</body>
</html>
