<!doctype html>
<html>

{% include head.html %}

<body class="bg-light text-dark">
    <div class="container-fluid">

        {% include navbar.html %}

        <section class="row justify-content-around align-items-center p-3 text-center">
            <div class="col-md-4 float-left">
                <img class="img-fluid rounded-circle w-75" src="/assets/images/base/Andrew-Berriault-3837.jpg" alt="Andrew Berriault">
            </div>
            <div class="col-md-7">
                <section class="">
                    {{ content }}
                </section>
            </div>
        </section>

        <section class="row d-flex justify-content-around p-3">
            <img class="col-md-3 my-1" src="/assets/images/base/Aloe-3744.jpg" alt="Picture 1" aria-hidden="true">
            <img class="col-md-3 my-1" src="/assets/images/base/Andrew_June_2019.jpg" alt="Picture 2" aria-hidden="true">
            <img class="col-md-3 my-1" src="/assets/images/base/CNE-3615-2.jpg" alt="Picture 3" aria-hidden="true">
            <img class="col-md-3 my-1" src="/assets/images/base/TicTacTows-3752.jpg" alt="Picture 4" aria-hidden="true">
        </section>

        {% include footer.html %}

    </div>
</body>

{% include scripts.html %}

</html>